.background-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.form {
  margin-bottom: 20px;
}
body {
  margin: 0;
}
h1 {
  z-index: 20;
  font-size: 80px;
  color: white;
}

button {
  width: 20px;
  height: 20px;
  padding: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* animation: fadeIn 0.5s ease-in-out; */
}
.show {
  opacity: 0.7;
}
.clock-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.js-form {
  font-size: 30px;
  color: white;
  font-weight: 600;
  left: 13px;
}

.weather {
  position: absolute;
  top: 0;
  font-size: 30px;
  color: white;
  font-weight: 600;
  right: 15px;
}
.input__name {
  width: 230px;
  height: 50px;
  font-size: 20px;
}
@keyframes btnFloat {
  0% {
    box-shadow: 7px 5px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.4);
  }
}
@keyframes larger {
  0% {
    transform: none;
  }
  100% {
    transform: scale(1.2);
  }
}
input {
  text-align: center;
  border: none;
  border-radius: 5px;
}
input:hover {
  animation: btnFloat 0.2s ease-in-out forwards;
}
h1:hover,
h2:hover,
li:hover,
.weather:hover {
  animation: larger 0.2s ease-in-out forwards;
}
.js-toDoForm input {
  width: 250px;
  height: 40px;
  font-size: 20px;
}
.list {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.list li {
  margin-bottom: 5px;
}
.list__maxlen {
  opacity: 0;
}
ul {
  margin: 0;
}
